


/* Header */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix + .container-fluid {
  padding-top: 70px;
}

.navbar{
	background-color:white;
	border:none;
	margin-top:20px;
	margin-bottom:0px;
}

.navbar>.form-inline>.btn{
	color:grey;
	background-color:white;
	border:none;
	font-weight: bold;
}

.navbar-nav>.disabled>a{
	background-color:#f87060 !important;
}

.navbar>.form-inline>.disabled{
	background-color:#f87060 !important;
	color:white !important;
	font-weight: normal;
}
/*	End Header	*/


.jumbotron{
  background: url("../images/picture-lake.jpg"); no-repeat center center;
  height:500px;
}

#tagline-container{
	text-align: center;
}

#action-container{
	text-align:center;
}

#action-container .btn{
	border-radius:23pt;
	color:white;
	background-color:#f87060;
}

#action-container .btn-left{
	background-color:#f87060;
}

#action-container .btn-right{
	background-color:grey;
}

/*	Footer	*/
.footer{
	background-color:#f87060;
	height:100px;
}

.footer .container{
	height:100%;
}

.footer .container a{
	float:right;
}

.footer .container .fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 30px 3px 3px 3px;
  border-radius: 50%;
}

.fa:hover{
	color:#102542;
}

.fa-facebook {
  background: white;
  color: #f87060;
}

.fa-twitter {
  background: white;
  color: #f87060;
}

.fa-linkedin {
  background: white;
  color: #f87060;
}

.fa-instagram {
  background: white;
  color: #f87060;
}
/*	End Footer	*/
